In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
df = pd.read_csv('AP Data set 21-22/runways.csv')

In [5]:
df.head()

,id,airport_ref,airport_ident,length_ft,width_ft,surface,lighted,closed,le_ident,le_latitude_deg,le_longitude_deg,le_elevation_ft,le_heading_degT,le_displaced_threshold_ft,he_ident,he_latitude_deg,he_longitude_deg,he_elevation_ft,he_heading_degT,he_displaced_threshold_ft
0,269408,6523,00A,80.0,80.0,ASPH-G,1,0,H1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,255155,6524,00AK,2500.0,70.0,GRVL,0,0,N,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN
2,254165,6525,00AL,2300.0,200.0,TURF,0,0,01,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN
3,270932,6526,00AR,40.0,40.0,GRASS,0,0,H1,NaN,NaN,NaN,NaN,NaN,H1,NaN,NaN,NaN,NaN,NaN
4,322128,322127,00AS,1450.0,60.0,Turf,0,0,1,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN

In [6]:
df.dtypes

id                             int64
airport_ref                    int64
airport_ident                 object
length_ft                    float64
width_ft                     float64
surface                       object
lighted                        int64
closed                         int64
le_ident                      object
le_latitude_deg              float64
le_longitude_deg             float64
le_elevation_ft              float64
le_heading_degT              float64
le_displaced_threshold_ft    float64
he_ident                      object
he_latitude_deg              float64
he_longitude_deg             float64
he_elevation_ft              float64
he_heading_degT              float64
he_displaced_threshold_ft    float64
dtype: object

In [7]:
df.shape

(42877, 20)

In [8]:
df.describe()

,id,airport_ref,length_ft,width_ft,lighted,closed,le_latitude_deg,le_longitude_deg,le_elevation_ft,le_heading_degT,le_displaced_threshold_ft,he_latitude_deg,he_longitude_deg,he_elevation_ft,he_heading_degT,he_displaced_threshold_ft
count,42877.000000,42877.000000,42675.000000,40128.000000,42877.000000,42877.000000,14751.000000,14743.000000,12549.000000,14427.000000,2853.000000,14715.000000,14717.000000,12403.000000,16235.000000,3159.000000
mean,259877.875015,41247.073536,3252.206819,110.007102,0.258927,0.016139,31.178894,-40.216614,1060.265200,104.385695,533.533824,31.170652,-40.173758,1055.118923,261.954544,534.251978
std,25720.683727,81654.874568,2746.388012,231.159738,0.438050,0.126012,23.006047,79.768373,1461.467643,57.297062,473.977823,23.010338,79.742570,1454.093351,78.287271,463.693680
min,232758.000000,2.000000,0.000000,0.000000,0.000000,0.000000,-75.597200,-178.303000,-1246.000000,0.000000,1.000000,-75.595400,-178.292000,-1210.000000,0.000000,9.000000
25%,243491.000000,8822.000000,1641.000000,59.000000,0.000000,0.000000,28.856150,-96.588900,118.000000,57.000000,225.000000,28.841000,-96.584600,117.000000,226.000000,228.000000
50%,254216.000000,19159.000000,2700.000000,75.000000,0.000000,0.000000,37.563900,-80.320000,575.000000,98.300000,400.000000,37.568000,-80.306100,572.000000,270.000000,400.000000
75%,264952.000000,28670.000000,4201.000000,100.000000,1.000000,0.000000,44.249200,15.337200,1250.000000,148.100000,680.000000,44.252800,15.393200,1241.000000,316.000000,693.500000
max,349785.000000,349779.000000,120000.000000,9000.000000,1.000000,1.000000,82.512800,179.337000,13202.000000,360.000000,6365.000000,82.522800,179.343000,13314.000000,363.000000,5001.000000

## Data Cleaning & Preparation